<div class="page-header">
<div class="container">
  <div class="jumbotron">
    <% if @client.username == nil %>
     <h1> UN-KNONW</h1>
    <% else %>
     <h1><%= @client.username %></h1> 
    <% end %>
  </div>
</div>
</div>


<div class="row">
  <div class="col-sm-offset-3 col-sm-6">


    <div class="thumbnail">
      <% if @client.image == nil %>
          <img src="http://localhost:3000/assets/client.jpg">
        <% else %>
          <img src="<%= @client.image %>">
        <% end %>

      <div class="caption">
        <h3><%= @client.country %></h3>
        <p>Email: <b><%= @client.email %></b></p>
        
      </div>
      </div>
    </div>
</div>
